body {
  text-align: center;
}

.message-list {
  background-color: #95f442;
  padding: 20px;
}

h1 {
  color: #f44141;
}
h2 {
  color: #f44141;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:-92px;
    width : 92px;
}
li a {
    display: block;
    width: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: green;
}
.active {
    background-color: #4CAF50;
    color: black;
}
ul {
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #95f442;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
li {
    display: inline;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
ul {
    background-color: #dddddd;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #95f442;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
input {
  display: block;
  margin:10px  auto ;
padding: 10px 13px;
    border: 1px solid orange;
    background-color: yellow;
    color: red;
}

button {
   color: white;
   background-color: blue;
   border: 1px solid blue;
   padding: 10px 13px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  color: #468966;
}
.picture {
  width: 100px;
}
.rating-wrapper {position: relative;
width: 200px;
height: 50px;
margin: 0 auto;}
